<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
    var forwardHistory = Array();
    var backHistory = Array();
    var currentPage = null;
    $(function() {
    if ('WebSocket' in window) {
        ws = new WebSocket('ws://' + document.domain + ':{{port}}/websocket');
        ws.onmessage = function (msg) {
            var message = JSON.parse(msg.data);

            if (message.output.substring(0, 4) != 'http' &&
                message.output != '<back>' &&
                message.output != '<forward>') {
                    $('div#output').html(message.output + "<br/>" + $('div#output').html());
                return;
            }

            if (message.output == '<back>') {
                back = backHistory.pop();
                if (back !== undefined) {
                    forwardHistory.push(currentPage);
                    currentPage = back;
                }
            } else if (message.output == '<forward>') {
                forward = forwardHistory.pop();
                if (forward !== undefined) {
                    backHistory.push(currentPage);
                    currentPage = forward;
                }
            } else if (message.output.substring(0, 4) == 'http') {
                backHistory.push(currentPage);
                forwardHistory = Array()
                currentPage = message.output;
            }

            window.open(currentPage, 'chattypi', 'fullscreen=1,left=0', true);
        };
    };
    $('input[name=text]').on('keyup', function(e){
        if (e.keyCode != 13) return;
        e.preventDefault();
        var message = $(this).val();
        ws.send(JSON.stringify({'output': message}));
        $(this).val("");
    });
    $('input[name=text]').focus();
    window.onbeforeunload = function() {
        ws.onclose = function () {};
        ws.close()
    };
});
</script>
<style>
input {
  font-size: 48px;
  width: 600px;
  border-style: none;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}
textarea:focus, input:focus{
    outline: 0;
}
div {
  font-size: 36px;
}
</style>
 
</head>
<body>
    <input type="text" name="text"  />
    <div id="output"></div>
</body>
</html>
