Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.21
PocketSphinx==0.8
PyDispatcher==2.0.3
RPi.GPIO==0.5.2a
SphinxBase==0.8
Werkzeug==0.9.4
argparse==1.2.1
configobj==4.7.2
decorator==3.3.3
dnspython==1.10.0
flake8==2.1.0
gevent==1.0.1
gevent-websocket==0.9.3
gps==3.6
greenlet==0.4.2
httplib2==0.8
ipython==0.13.1
itsdangerous==0.24
mccabe==0.2.1
numpy==1.6.2
oauth2==1.5.211
peewee==2.1.4
pep8==1.5.6
pexpect==2.4
pjsua==2.2.1-svn
py-pretty==1
pyflakes==0.8.1
pygame==1.9.1release
pyserial==2.7
requests==1.2.3
simplegeneric==0.8.1
simplejson==3.3.0
six==1.3.0
twilio==3.5.1
unittest2==0.5.1
virtualenv==1.11.4
wolframalpha==1.0.2
wsgiref==0.1.2
xmpppy==0.5.0rc1
